{
  "auth": {
    "enabled": true,
    "user": "admin",
    "password": "admin"
  },
  "categories": [],
  "settings": {
    "title": "DashMax",
    "subtitle": "Centre d'Opérations & Home Lab",
    "theme": "dark-neon"
  }
}
